body{
  background-color: #DBB7B7;
}
.header {
  background-color: #DBB7B7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #663F54;
}

.App-link {
  color: #61dafb;
}

.cell-input{
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border: 1px black solid;
  background-color: #FFBFC0;
}

table{
  border-collapse: collapse;
  border: 5px #663F54 solid;
  margin-left: auto;
  margin-right: auto;
}

td{
  padding: 0;
}

.bold-border-right{
  border-right: 2px solid #684055;
}

.bold-border-bottom{
  border-bottom: 2px solid #684055;
}

.ui.button{
  width: 88px !important;
  height: 88px !important;
  padding: 0 !important;
  font-size: 70px !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 11px !important;
  background-color: #FFBFC0;
}

.ui.grid>.row {
  padding: 0 !important;
}